#page.Home {
    #gallery-section {
        * {
            outline: none;
        }
        #gallery-wrapper {
            position: relative;
            .gallery-content {
                box-sizing: border-box;
                margin: 0;
                max-width: 100%;
                padding: 0;
                .HomeSlider {
                    padding-bottom: 56.25%;
                    cursor: pointer;
                    height: 0;
                    overflow: hidden;
                    position: relative;
                    .slick-list {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        .slick-track {
                            height: 100%;
                            img {
                                min-width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .slick-prev,
                    .slick-next {
                        width: 26px;
                        height: 26px;
                        z-index: 1;
                        &:before {
                            color: #181818;
                            font-size: 26px;
                        }
                    }
                    .slick-prev {
                        left: 2%;
                    }
                    .slick-next {
                        right: 2%;
                    }
                    @media only screen and (max-width: 768px) {
                        padding-bottom: 75%;
                    }
                }
            }
        }
    }
    .section-wrapper {
        padding: 40px 34px;
        max-width: 1080px;
        box-sizing: border-box;
        margin: auto;
        @media only screen and (max-device-height: 1024px) {
            padding: 68px 34px;
        }
        @media only screen and (max-width: 640px) {
            padding: 40px 20px;
        }
    }

    .blog-profile {
        &.default {
            width: 350px;
            .blog-image {
                display: block;
                margin-bottom: 15px;
                position: relative;
                &:before {
                    padding-bottom: 100%;
                    content: '';
                    display: block;
                }
                .blog-img-link {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    line-height: 0;
                    overflow: hidden;
                    text-decoration: none;
                    color: inherit;
                    img {
                        object-fit: cover;
                    }
                }
            }
            .blog-title {
                text-align: left;
                display: block;
                margin-bottom: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: 22px;
                letter-spacing: 0em;
                font-style: normal;
                letter-spacing: 0.02em;
                line-height: 1em;
                text-transform: none;
                text-decoration: none;
                color: rgba(51, 51, 51, 0.7);
            }
            .blog-meta {
                display: flex;
                justify-content: left;
                margin-bottom: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                letter-spacing: 0em;
                text-transform: uppercase;
                color: rgba(51, 51, 51, 0.7);
            }
            .summary-title {
                font-size: 20px;
                line-height: 1.2em;
                text-align: left;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: capitalize;
                color: #4d4d4d;
            }
            .summary-date {
                margin: 0 0 3px 0;
                font-weight: 500;
                font-style: normal;
                font-size: 10px;
                line-height: 1.4em;
                letter-spacing: 3.73px;
                text-transform: uppercase;
                color: #ac8f64;
                text-align: left;
            }
        }
    }
}

.title {
    color: #4d4d4d;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    white-space: pre-wrap;
    margin: 15px 0;
}

.publish-date {
    color: #ac8f64;
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    white-space: pre-wrap;
}

.text-center {
    text-align: center;
    white-space: pre-wrap;
}

.color-theme {
    color: #ac7d64;
    text-decoration: none;
}
