#Header {
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 0 37px;
    width: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1002;
    line-height: 1em;
    box-sizing: border-box;
    .header-inner {
        width: 100%;
        padding: 37px 0;
        box-sizing: border-box;
    }
    #logoWrapper {
        height: auto;
        width: 260px;
        line-height: 1;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    #logoImage {
        width: 260px;
        height: auto;
        line-height: 1;
        opacity: 1;
        margin: 0;
        font-size: 0;
        max-width: 100%;
        a {
            display: block;
            text-decoration: none;
        }
        img {
            width: 260px;
            max-width: 260px;
            height: auto;
        }
    }

    #headerNav {
        box-sizing: border-box;
        display: block;
        vertical-align: middle;
    }

    @media only screen and (max-width: 768px) {
        #headerNav {
            display: none;
        }
        #logoWrapper {
            display: inline-block;
            width: auto;
            height: auto;
            max-width: 70%;
            vertical-align: middle;
            padding: 0;
            box-sizing: border-box;
            #logoImage {
                img {
                    max-height: 50px;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
    }

    @media only screen and (max-width: 640px) {
        padding: 0 20px;
        .header-inner {
            padding: 20px 0;
            display: block;
        }
        .mobile-nav-toggle-label {
            top: 20px;
            left: 20px;
        }
    }
}

#mainNavWrapper {
    text-align: center;
    position: relative;
    nav {
        a,
        a:visited {
            font-family: 'Raleway', Arial, sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 11px;
            letter-spacing: 5px;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 1em;
            color: rgba(52, 50, 50, 0.78);
            &.active,
            &:hover {
                color: #ac8f64;
            }
        }
    }
}

#headerNav {
    margin-left: 0px !important;
    margin-top: 40px !important;
    margin-bottom: 0px !important;
    .collection {
        margin: 0 !important;
    }
}

nav {
    display: block;
}

.nav-wrapper {
    position: relative;
    nav > div {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        & > a {
            display: block;
            padding: 0.75em 1.2em;
            transition: color 0.1s 0s ease-in-out;
        }
    }
}

.mobile-nav-toggle-label {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1010;
    width: 10%;
    position: absolute;
    z-index: 1002;
    top: 37px;
    left: 37px;
    padding: 0;
    vertical-align: middle;
    line-height: 16px;
    text-align: right;
    cursor: pointer;
    user-select: none;
    color: rgba(52, 50, 50, 0.78);
    width: 22px;
    height: 22px;
    .top-bar,
    .middle-bar,
    .bottom-bar {
        width: 22px;
        height: 2px;
        background-color: #343232;
        transition: transform 0.1s 0s ease-in-out, top 0.1s 0.1s ease-in-out;
        transform-origin: 50% 50%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .middle-bar {
        transition: opacity 0s 0.15s linear;
        top: 7px;
    }
    .bottom-bar {
        top: 14px;
    }
}
